body{
    font: 14px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    color: #000;
  }
   
  .timer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 90vw;
    padding: 10px;
    border-width: 0.5px 0.5px;
    border-style: solid;
    border-color: #ffffff;
    margin-bottom: 10px;  
    background-color: #e8eaf6;
    color: #000;
  }
   
  .timerContainer{
    justify-content: center;
    align-items: center;
    display: flex;
    min-width: 90vw;
  }
   
  h2{
    margin-top: 0px;
  }
   
  h1 {
    font-size: 40px;
  }
   
  #controls{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-width: 90vw;
    margin-top: 10px;  
    padding: 10px 10px 10px 10px;
  }
   
  span{
    font-size: 25px;
    text-align: left;
  }
   
  h4{
    font-size: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: left;
  }
   
  .timerButton{
    background-color: #6745c2;
    color: white;
    border: solid 0.5px white;
    padding: 10px 10px 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    width: 100px;
  }